*
.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(253, 229, 16);
}

.logo{
    height: 40;
}

.btn0{
    outline: none;
    border: none;
    height: 40px;
    background: rgb(89, 207, 228);
}

.search{
    height: 40px;
    width: 500px;
    outline: none;
    margin-left: 50px;
}

.nav-item{
    margin-left: 25%;
}

.nav-item:hover{
    color: blue;
    background-color: lightcoral;
}

.nav-link{
    color: black;
    font-size: 20;
    text-transform: uppercase;
    align-items: center;
}

.contact-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(27, 27, 27);
    font-size: 12;
    color: white;
}

.media-platform-item{
    text-decoration: none;
}

.info-col{
    font-size: 15px;
    align-items: center;
}