<section class="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="Contact-label col-lg-5">
            <h1>Contact us</h1>
            <div class="media-platform">
              <a class="media-platform-item" href="#">
                <img src="./img/facebook-icon.png" width="30">
              </a>
              <a class="media-platform-item" href="#">
                <img src="./img/twitter-icon.png" width="40">
              </a>
              <a class="media-platform-item" href="#">
                <img src="./img/instagram-icon.png" width="30">
              </a>
            </div> 
          </div>
          <div class="col info-col">
            <p>
              LOCATION: XXX
            </p>
            <hr>
            <p>
              PHONE: 13456790
            </p>
            <hr>
            <p>
              EMAIL: XXX@gmail.com
            </p>
          </div>
        </div>
      </div>
    </section>