<form method="POST" action="/key">
  <div class="form-group">
    <label for="search-input">Tu khoa</label>
    <input type="text" name = "key" class="form-control" id="key" placeholder="Find something...">
    
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>